body {
    background: #000000;
    color: #eaeaea;
    font-family: 'Cormorant Unicase', serif;
}
h1 {
	font-size: 6.5vw;
	margin-top: 0px;
}
h2 {
	font-size: 5vw;
	margin-top: 0px;
}
span {
    font-size: 5vw;
}
p {
    font-size: 4vw;
    margin-right: 50px;
}
p.article {
    font-size: 3vw;
}
a {
    color: #eaeaea;
    text-decoration: underline dashed #05853a;
    /*border-bottom: 3px solid green;*/
}
a:hover {
    color: #05853a;
}
.my-a:hover .fas {
    color: #05853a;
}
.fa,
.fas,
.fab {
    font-size: 6.5vw;
    color: #eaeaea;
}
.fa:hover,
.fas:hover,
.fab:hover {
    color: #05853a;
}
.pos {
    margin-left: 75px;
    margin-top: 60px;
}
@media screen and (max-width: 767px) {
    .pos {
        margin-left: 17px;
        margin-top: 17px;
    }
    p {
        font-size: 5vw;
        margin-right: 50px;
    }
    p.article {
        font-size: 4vw;
    }
}
